<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TheLuxepass_web_app_test_Automation_suite">
	<test name="TheLuxepass_app_test_cases">
		<classes>
			<class name="com.luxepass.qa.tests.HomePageflowtest">
			</class>
			<class name="com.luxepass.qa.tests.MyProfilepageflowtest">
			</class>
			<class name="com.luxepass.qa.tests.Hotellistingpageflowtest">
			</class>
			<class name="com.luxepass.qa.tests.Myorderspageflowtest">
			</class>
			<class name="com.luxepass.qa.tests.Howitworksflowtest">
			</class>
			<class name="com.luxepass.qa.tests.ContactUspageflowtest">
			</class>
			<class name="com.luxepass.qa.tests.FAQpageflowtest">
			</class>
			<class name="com.luxepass.qa.tests.PartnerwithUSpageflowtest">
			</class>
			<class name="com.luxepass.qa.tests.PrivacypolicyPageflowtest">
			</class>
			<class name="com.luxepass.qa.tests.TandCpageflowtest">
			</class>
			
		</classes>
	</test> 
</suite> 